*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1{
    font-family: 'Castoro', serif;
    color: white;
    opacity: 1;
    
}
h2{
    font-family: 'Castoro', serif;
    color: black;
    font-size: medium;
    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: black;
    position: fixed;
    width: 100%;
    opacity: .95;
    
    
}

.links{
    display: flex;
    justify-content: space-around;
     width: 40%;
     
}

.links a{
    font-family: 'Castoro', serif;
    color:white;
    text-decoration: none;
    font-weight: bold;
   
    
    
}

.links li{
   list-style: none;
}

.stack{
    display: none;
    
}
.stack div{
    width: 29px;
    height: 3px;
    background-color: white;
    margin: 5px;
    
    
}
@media screen and (max-width: 750px){
  
    body{
        overflow-x: hidden;
    }
    .links{
        position: absolute;
        
        
        
        display: flex;
        flex-direction: column;
       
        
        
    }
    .links li{
       
        writing-mode: vertical-rl; 
        text-orientation: upright;
        font-size: large ;
        align-items: center;
        justify-content: center;
        opacity: 1;
        
       
    }
    .up1{
        position: absolute;
        left: -20vw;
        height: 50vh;
        width: 15vw;
        background-color: black;
        top: 20vh;
        display: flex;
        transform: translateY(170%);
        transition: transform 0.5s ease-in;
        border-radius: 10px;
        
       
        
       
       
    }
    .up2{
        position: absolute;
        left: -4vw;
        height: 50vh;
        width: 15vw;
        background-color:  black;
        top: 20vh;
        display: flex;
        transform: translateY(-170%);
        transition: transform 0.5s ease-in;
        border-radius: 10px;
       
       
    }
    .up3{
        position: absolute;
        left: 12vw;
        height: 50vh;
        width: 15vw;
        background-color: black;
        top: 20vh;
        display: flex;
        transform: translateY(170%);
        transition: transform 0.5s ease-in;
        border-radius: 10px;
        
        
       
    }
    .up4{
        position: absolute;
        left: 28vw;
        height: 50vh;
        width: 15vw;
        background-color:  black;
        top: 20vh;
        display: flex;
        transform: translateY(-170%);
        transition: transform 0.5s ease-in;
        border-radius: 10px;
 
    }
    .up5{
        position: absolute;
        left: 44vw;
        height: 50vh;
        width: 15vw;
        background-color:  black;
        top: 20vh;
        display: flex;
        transform: translateY(170%);
        transition: transform 0.5s ease-in;
        border-radius: 10px;
        
       
       
    }

    .stack{
        display: block;
        cursor: pointer;
        z-index: 2;
        transition: transform 0.5s ease-in;
    }
    .ff{
        margin: 0px;
    }
    .links-active{
        transform: translateX(0%);
    }
    .links-activee{
        transform: translateX(0%);
    }
    .line2{
        transition:transform 0.5s ease-out;
    }
    .line1{
        transition:transform 0.5s ease-out;
        transform-origin: 10% 10%
    }
    .line3{
        transition:transform 0.5s ease-out;
        transform-origin: 10% 90%;
    }
   
    .line1slide{
      transform: rotate(45deg);
      transform-origin: 10% 10%;
    }
    .line3slide{
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
    }
    .line1slide1{
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
      }
      .line3slide1{
          transform: rotate(45deg);
          transform-origin: 10% 10%;
      }
   
    
    .hide{
        visibility: hidden;
        transition:transform 0.5s ease-out;
    }
/* for the background of nav */
.back{
    width: 100vw;
    height: 100vh;
    background-color: red;
    display: flex;
    position: fixed;
    display: none;
    padding: 0px;
    top: 0px;
    transition: transform 5s ease-out;
    
}
.backalive{
    width: 100vw;
    height: 100vh;
    background-color: rgba(235, 235, 235, 0.521);
    display: flex;
    position: fixed;
    display: active;
    
}

}

.fill{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}